$color__body-bg: #FFF9EB;
$color__header-bg: #FFFFFF;

// Navigation link
$color__font-nav: #222222;
$color__font-nav-visited: #222222;
$color__font-nav-hover: #222222;

// Navigation call to action button 
$color__button-nav-bg: #369DC8;
$color__button-nav-font: #FFFFFF;
$color__button-nav-hover: #0F75A0;

// Display font for landing
$color__landing-font: #FFFFFF;

// Mama Identity 
$color__mama-identity-bg: #EF8249;
$color__mama-identity-font: #FFFFFF;

// Group For You
$color__group-for-you-header: #369DC8;

// Testimonial
$color__testimonial-bg: #EF8249;
$color__testimonial-bg-3: #369DC8;
$color__testimonial-font: #FFFFFF;

// Enroll Button Section
$color__enroll-button-section-link: #222222;
$color__enroll-button-section-bg: #FFDB77;
$color__enroll-button-bg-hover: #FFCC3D;
$color__enroll-image-font: #FFFFFF;
$color__enroll-image-bg-hover: #369DC8;

// How We Became Motivated Mamas
$color__how-we-became-header: #369DC8;

// Not For Everybody
$color__not-for-everybody-font: #FFFFFF;
$color__not-for-everybody-bg: #369DC8;

// Where's Your Village
$color__wheres-your-village-header: #369DC8;

// Ask Yourself
$color__ask-yourself-bg: #369DC8;
$color__ask-yourself-font: #FFFFFF;
$color__faqs-button-hover: #0F75A0;

// 5 Steps
$color__5-steps-header: #EF8249;
$color__5-steps-box-font: #FFFFFF;

// Money Back Guarantee
$color__money-back-font: #FFFFFF;
$color__money-back-box-bg: #EF8249;

// About Us
$color__about-us-box-bg: #369DC8;
$color__about-us-font: #FFFFFF;

//Payment
$color__payment-box-bg: #EF8249;
$color__payment-font: #FFFFFF;
$color__payment-button-bg: #4AC0F2;
$color__payment-button-bg-hover: #369DC8;
$color__payment-button-link: #FFFFFF;
$color__payment-link: #222222;

// Bonus
$color__bonus-header-bg: #FFDB77;
$color__bonus-box-bg: #369DC8;
$color__bonus-box-font: #FFFFFF;

// Still Got Questions?
$color_still-got-questions-bg: #FFDB77;
$color__still-got-quetions-faq-border: #222222;
$still-got-questions-faq-font: #222222;
$color__still-got-questions-faq-hover: #FFCC3D;



$color__triangle-bg-interior: #FFF9EB;
$color__learn-more-about-us-link: #369DC8;
$color__learn-more-about-us-link-hover: #FFFFFF;
$color__learn-more-about-us-link-bg-hover: #0F75A0;








$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
