.payment {
	padding: 60px 0;
	text-align: center;

	.content {
		max-width: 800px;
		margin: 0 auto;
	}

	.flexbox-container {
		display: flex;
		justify-content: center;
		margin: {
			top: 60px;
			bottom: 60px;
		}

		> div {
			background-color: $color__payment-box-bg;
			border-radius: 15px;
			width: 300px;
			padding: 20px;

			&:first-child {
				margin-right: 50px;
			}
		}

		@media screen and (max-width: 37.5em) {
			flex-wrap: wrap;

			> div:first-child {
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}
}

.payment-success {
	.content {
		margin-top: 150px;
		margin-bottom: 150px;
		text-align: center;
	}
}

.payment-error {
	.content {
		margin-top: 200px;
		margin-bottom: 200px;
		text-align: center;
	}
}



