.payment {
	padding: 60px 0;
	text-align: center;

	.content {
		max-width: 800px;
		margin: 0 auto;
	}

	.flexbox-container {
		display: flex;
		justify-content: center;
		margin: {
			top: 60px;
			bottom: 60px;
		}

		form input {
			width: 150px;
			cursor: pointer;
		}

		> div {
			background-color: $color__payment-box-bg;
			border-radius: 15px;
			width: 300px;
			padding: 20px;

			&:first-child {
				margin-right: 50px;
			}
		}

		@media screen and (max-width: 37.5em) {
			flex-wrap: wrap;

			> div:first-child {
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}
}

.payment-success {
	.content {
		margin-top: 200px;
		margin-bottom: 200px;
		text-align: center;
	}
}

.payment-error {
	.content {
		margin-top: 200px;
		margin-bottom: 200px;
		text-align: center;
	}
}

.direct-stripe-button {
	@include font-size(1.1);
}

.saving {
	background-color: #FFDB77;
	color: #222222;
	display: inline-block;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 5px;
}


